# Virtual environments
.venv/

# IDE configs
.idea/
.vs/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
*.egg-info/

# Submodules
benchmarking/QASMBench
