pyzx>=0.8.0  # or use pyzx@git+https://github.com/Quantomatic/pyzx for latest development version
matplotlib>=3.7.4
numpy>=1.24.0,<2  # can't go higher than 1.24.0 for python 3.8
pylatexenc~=2.10
pytest~=8.1.1
qiskit~=1.0.2
